
html{
	font-family: Arial,"Microsoft Yahei",sans-serif;
    font-size: 100px;
    margin: 0 auto;
}
body{
    margin: 0;
    font-size: .14rem;
    background: #f5f5f5;
    font-weight: 300;
    background: url(../img/login-bg.png) no-repeat 0 0;
    background-size: 100% auto;
}
input{
    outline: none;
}
/*头部*/
.nav4{
    color: #75a739;
    height: .45rem;
    line-height: .43rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: box;
}
.back4{
    width: .88rem;
    display: inline-block;
}
.back4>a{
    text-align: center;
    padding-left: .07rem;
    float: left;
    width: .4rem;
    color: #75a739;
    font-size: .22rem;
    font-family: 宋体;
    font-weight: bold;
}
.text4{
    text-indent: .4rem;
    font-size: .17rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		width:100%;
}

/*身体登陆的form表单*/
.DL-form,.phone-DL{
		transition: all .5s;
    margin-top: 2.2rem;
    width: 84%;
    padding: 0 8%;
		box-sizing: content-box;

}
.DL-formin{
    width: 100%;
    height: .25rem;
    padding: .08rem 0;
    margin: .1rem 0;
		box-sizing: content-box;
    border-bottom: .01rem solid #d8d8d8;
}
.phone_pic,.yan_zm,.phone-password{
    display:inline-block;
    margin-right: .1rem;
    width:.18rem;
    height:.22rem;
    background: url(../img/phone.jpg);
    background-size: 100% 100%;
    float: left;
		box-sizing: content-box;
}
.phonein{
    float: left;
}
.phonein input{
    width: 100%;
    font-size: .16rem;
    line-height: .25rem;
    color: #878787;
    height: .25rem;
    padding: 0;
    background: 0 0;
    border: none;
    display: inline-block;
    float: left;
		box-sizing: content-box;
}
.DL-formin>span{
    display: inline-block;
    width: .7rem;
    height: .25rem;
    margin-left: .1rem;
    border-radius: .02rem;
    background: #bfbfbf;
    line-height: .25rem;
    font-size: .12rem;
    color: #fff;
    text-align: center;
		box-sizing: content-box;
}
.yan_zm{
    background: url(../img/yan_zm.jpg);
    background-size: 100% 100%;
}
.tips{
    height: .2rem;
    line-height: .2rem;
    font-size: .1rem;
    color: #878787;
}
.btn-login{
    display: block;
    width: 100%;
    height: .4rem;
    margin: .45rem 0 .15rem;
    border-radius: .02rem;
    line-height: .4rem;
    font-size: .16rem;
    color: #fff;
    text-align: center;
    background: #bfbfbf;
}
.tab4 a{
    color: #f93;
    font-size: .12rem;
}
.tab4 a:nth-of-type(1){
    float: left;
}
.tab4 a:nth-of-type(2){
    float: right;
}
.phone-password{
    background: url(../img/phone-password.jpg);
    background-size: 100% 100%;
}
.active1{
	background-color: #f93;
}
